// В этом файле должны быть стили для БЭМ-блока feedback, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feedback {

  $block-name:                &; // #{$block-name}__element
  max-width: 850px;
  margin: auto;

  &__form {

  }

  &__fields-group {
    @media (max-width: ($menu-desktop-width - 1)) {
      flex-direction: column;
    }
  }

  &__field {
    flex: 1;
    .btn {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    @media (max-width: ($menu-desktop-width - 1)) {
      width: 100%;
      margin-bottom: 15px !important;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

}
