// В этом файле должны быть стили для БЭМ-блока seeds-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.seeds-nav {

  $block-name:                &; // #{$block-name}__element

  @include row;
  margin-bottom: -2px;

  &__item {
    @include make-col(3);
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus {
      #{$block-name}__item-caption {
        border-color: $color-main;
        color: $color-main;
      }
    }

    @media (max-width: ($menu-desktop-width - 1)) {
      @include make-col(6);
    }

  }

  &__item-image {
    width: 100%;
    padding-bottom: 100%;
    background: #444;
    background-size: cover;
  }
  &__item-caption {
    font-size: 24px;
    line-height: 24px;
    padding: 35px 0;
    font-weight: 500;
    border-bottom: 2px solid #e1e1e1;
    @media (max-width: ($menu-desktop-width - 1)) {
      padding: 15px 0;
      margin-bottom: 15px;
    }
    @media (max-width: ($screen-sm - 1)) {
      font-size: 16px;
      line-height: 16px;
    }
  }

}
