// В этом файле должны быть стили для БЭМ-блока partners, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.partners {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__item {
    @include make-col(12);
    margin-bottom: 25px;
    @media (min-width: $screen-md) {
      @include make-col(6);
    }
    @media (min-width: $screen-lg) {
      @include make-col(4);
    }
  }

  &__link {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-decoration: none;
    border: 2px solid #e5e5e5;
    padding: 25px;
    &:hover,
    &:focus {
      border-color: $color-main;
      #{$block-name}__separate {
        background: $color-main;
      }
    }
  }

  &__image {}
  &__separate {
    height: 2px;
    width: 70%;
    background: #e5e5e5;
    margin: 30px 0 20px 0;
  }
  &__text {}

}
