// В этом файле должны быть стили для БЭМ-блока page-footer-top, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer-top {

  $block-name:                &; // #{$block-name}__element
  border-bottom: 2px solid #e5e5e5;
  padding: 35px 0;

  &__inner {
    @include container;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    @include row;
  }

  &__col {
    &--logo {
      @include make-col(3);
      @media (max-width: ($menu-desktop-width - 1)) {
        @include make-col(12);
        margin-bottom: 25px;
      }
    }
    &--nav {
      @include make-col(6);
      @media (max-width: ($menu-desktop-width - 1)) {
        display: none;
      }
    }
    &--info {
      @include make-col(3);
      @media (max-width: ($menu-desktop-width - 1)) {
        @include make-col(12);
      }
    }
  }

  .logo--footer {
    margin-right: 30px;
  }

}
