// В этом файле должны быть стили для БЭМ-блока main-section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-section {

  $block-name:                &; // #{$block-name}__element
  font-size: 16px;
  padding: 2.7em 0;

  &__inner {
    @include container;
  }

  &__header {
    padding-bottom: 1em;
    &--action {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 0;
  }

  &__title-caption {
    color: #6c6c6c;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &__application {
    text-align: center;
    margin-bottom: 30px;
  }
  &__application-header {
    margin-bottom: 35px;
  }

  &--overlay {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.65);
    }
    #{$block-name}__inner {
      position: relative;
      z-index: 2;
    }
    #{$block-name}__title {
      color: #fff;
    }
    #{$block-name}__title-caption {
      color: #fff;
    }
    #{$block-name}__application {
      color: #fff;
    }
  }

  &--main-slider {
    padding: 0;
  }

  &--info {
    h2 {
      margin-top: 0;
    }
    p {
      color: #6c6c6c;
      &:last-of-type {
        margin-bottom: 1.7em;
      }
    }
    strong {
      color: #000;
      font-size: 18px;
      font-weight: 400;
    }
  }

  &--number {
    #{$block-name}__header {
      margin-bottom: 6em;
    }
  }

  &--seeds {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 0;
  }

  &--fertilizer {
    #{$block-name}__header {
      margin-top: 3em;
      margin-bottom: 4em;
    }
  }

  &--services {
    background: #e3e3e3;
    background-image: url(../img/tractor-bg.svg);
    background-repeat: no-repeat;
    background-position: -100px 50px;
  }

  &--reviews {
    background: #e3e3e3;
    background-image: url(../img/doc-bg.svg);
    background-repeat: no-repeat;
    background-position: 250px 280px;
  }

  &--feedback {
    padding: 3.5em 0;

    #{$block-name}__header {
      margin-bottom: 1em;
    }
  }

}
