// В этом файле должны быть стили для БЭМ-блока main-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-slider {

  $block-name:                &; // #{$block-name}__element

  &__item {
    background-size: cover;
    background-position: center center;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.40);
    }
    .main-section__inner {
      position: relative;
      z-index: 2;
      color: #fff;
      display: flex;
      min-height: 600px;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__title {
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  &__caption {
    line-height: 1.6;
  }

}
